.content {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#about-me {

}

.profilepic {

}

.about-pic {
  padding-right: 25px;
  float: left;
}
.about-statement {
  min-width: 400px;
}

#projects {
  list-style: none;
  padding: 0;
}

.a_project {
  margin: 10px;
  height: 240px;
}

.a_project ul {
  list-style: none;
}

.screenshot {
  border: black solid 1px;
  width: 301px;
  height: 238px;
  margin-right: 20px;
  float: left;
}
