.header {
  background: blue;
}

.about-me {
  border: green 1px dotted;
}

.profilepic {
  border: orange 1px dotted;
}

.about-pic {

  border: blue 1px dotted;
  float: left;
}
.about-statement {
  border: red 1px dotted;
}
