.content {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#about-me {

}

.profilepic {

}

.about-pic {
  padding-right: 25px;
  float: left;
}
.about-statement {
  min-width: 400px;
}

.screenshot {
  width: 360px;
  height: auto;
  margin-right: 20px;
  float: left;
}
